<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnCC0jvgrzTQhd45htFgIWy1iOdpYt-oM</string>
	<key>GCM_SENDER_ID</key>
	<string>236584419816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wastemanagement</string>
	<key>PROJECT_ID</key>
	<string>smartbin-96489</string>
	<key>STORAGE_BUCKET</key>
	<string>smartbin-96489.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236584419816:ios:7d2f92bb19ed6c4253245d</string>
	<key>DATABASE_URL</key>
	<string>https://smartbin-96489-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>